#main-text{
	position: relative;
	top: 90px;
}

#about-links li{
	display: inline;
}

#about-header{
	margin-top: 2%;
	margin-left: 60px;
	margin-bottom: 2%;
}

#about-bio{
	text-align: justify;
}

@media screen and (max-width: 420px){
	.half-column{
		width: 100%;
		text-align: center;
	}
	
	#about-header{
		text-align: center;
		margin-left: 0;
	}
}